node_modules/
.next/
.env.local
.env
*.db
!/data/school.db
/data/*.db
!/data/school.db
*.xlsx
.vercel

# TypeScript incremental build cache
tsconfig.tsbuildinfo

build.log
dev-error.log
dev-output.log
